.spots-container-individual-spot {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    column-gap: 18px;
    line-height: 20px;
    margin: 16px 0px 40px 0px;
    padding: 0 80px 0 80px;
    cursor: pointer;
    /* opacity: 0.9; */
}


.img-size-id {
    display: flex;
    flex-direction:row;
    height: 428px;
    width: 560px;
    font-family: Circular,
        -apple-system,
        BlinkMacSystemFont,
        Roboto,
        Helvetica Neue,
        sans-serif;
    border-radius: 10px;
    background-size: cover;
    /* font-size: 24px;
    line-height: 1.43;
    color: #484848;
    background-color: #fff;
    margin: 5px 5px, 0px, 0px;
    object-fit: cover; */

 }

.img-size-spot-id {
    display: flex;
    flex-direction: row;
    font-family: Circular,
        -apple-system,
        BlinkMacSystemFont,
        Roboto,
        Helvetica Neue,
        sans-serif;
    border-radius: 10px;
    /* font-size: 24px;
    line-height: 1.43;
    color: #484848;
    background-color: #fff;
    margin: 5px 5px, 0px, 0px;
    object-fit: cover; */


}

.spot-details-container{
    display: inline-block;
    align-items: center;
    justify-content:space-between;

}

.button {
    width: 27px;
}

.primary-text {
    font-size: 24px;
    font-weight: bold;
}


/* .avg-rating-style{
    display: inline-block;
} */
