/* .spots-container {
width: 50%
}

.img-size{
width: 100%
} */
.spots-container{
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); */
    display: flex;
    flex-direction: column;
    column-gap: 30px;
    flex-wrap: wrap;
    
    padding: 10px;
    height: 364px;
    width: 364px;
    font-family: Circular,
        -apple-system,
        BlinkMacSystemFont,
        Roboto,
        Helvetica Neue,
        sans-serif;
    font-size: 16px;
    line-height: 1.43;
    color: #484848;
    background-color: #fff;
    margin: 10px 10px 10px 80px;
    border-radius: 10px;
    /* object-fit: cover; */
    /* flex-basis: calc(100% / 4); */
}

.primary-text {
    font-size: 16px;
    font-weight: bold;
}

.secondary-text{
    font-size: 16px;
    color: #767676
}


/* @media screen and (max-width: 1127px) {
    .spots-container { */
        /* flex-direction: column; */
        /* change the direction of the container */
    /* }
} */
