/* .spots-container {
width: 50%
}

.img-size{
width: 100%
} */
hr{
    opacity: 0.5;
}
.img-size {
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    background-size:cover;
}
.spots-container{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
  column-gap: 18px;
  line-height: 20px;
  margin: 16px 0px 40px 0px;
  padding: 0 80px 0 80px;
  cursor: pointer;
  /* opacity: 0.9; */


 }


 .spot-link{
    text-decoration: none;
 }
/* .spots-container:hover{
    opacity: 0.8;
} */

.heart {
    display: inline;
    align-items: right;
    opacity: 0.8;
    box-sizing: border-box;
    text-decoration: none solid rgb(34, 34,34);
    /* background-color: white; */
    background-position: 0% 0%;
    color: #222222;
    float: right;

}

.primary-text {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px
}

.secondary-text{
    font-size: 16px;
    color: #767676;
    line-height: 1.43;

}

.btn-create-spot{
        display: flex;
        align-self: flex-end;
        margin-top: 20px;
        margin-bottom: 20px;
        /* flex-direction: row; */
        /* justify-content: flex-end; */
        /* justify-content: space-between; */

        height: auto;
        margin-left: 80px;
        text-align: center;
        /* background-color: #FF385C;
        color: white; */
}

/* button{
    display: block;
    height: 25px;
    width: 100px;
} */

/* @media screen and (max-width: 1127px) {
    .spots-container { */
        /* flex-direction: column; */
        /* change the direction of the container */
    /* }
} */
