.reviews-container{
 display: flex;
 flex-direction: column;
 justify-content: flex-start;

}

/* .review-id{

}

.review-font{

} */
.delete-spot-button{
   background-color: #FF385C;
   color: white;
   width: 150px;
   height: 31px;
   border-radius: 5px;
   border: solid white 1px;


}
