/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
.logo {
        outline: none;
        align-items: center;
        display: inline-flex;
        height: 80px;
        position: relative;
        vertical-align: middle;
        z-index: 1;
}
