/* button {
    display: flex;
    width: 20%;
    border: 10px solid tangerine;
} */

/* .fas fa-user-circle{
    display: flex;
    align-items:row;
    align-items:right;
    border: 10px solid tangerine; */

/* } */
.nav {
    display: flex;
}

.logo{
    height: auto;
    max-width: 7%;
    margin: 0px, 0px, 20px, 80px;
}

.btn-profile{
    display: flex;
    flex-direction: column;
    border: 20px solid tangerine;
    font-size: 16px;
}

.host-login{
    display: flex;
    align-items: flex-end;
   flex-direction: column;


}
