/* button {
    display: flex;
    width: 20%;
    border: 10px solid tangerine;
} */

/* .fas fa-user-circle{
    display: flex;
    align-items:row;
    align-items:right;
    border: 10px solid tangerine; */

/* } */
*{
    font-family: Circular,
            -apple-system,
            BlinkMacSystemFont,
            Roboto,
            Helvetica Neue,
            sans-serif;
            color: #484848;
}
/* first sec */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    width: 100%;
}
/* second sec */
.search-bar{
    display: flex;
    align-items: center;
    flex: 1;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 999px;
    cursor: pointer;

}

.search-bar > input {
    border: none;
    width: 250px;
    outline-width: 0;
    padding: 12px 12px 12px 12px;
    cursor: pointer;
}

/* third sec */

.host-login{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 15vw; */
    margin-right: 80px;


}

.host-text{
    display: flex;
    margin-right: 15px;
}

.logo{
    margin-left: 50px;
    height: 80px;
    width: 102px;
    z-index: 1;
    display: inline-flex;
    position:relative;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    height: auto;
    cursor: pointer;
    box-sizing: border-box;
    background-position: 0% 0%;
    /* max-width: 7%; */
    /* margin: 0px, 0px, 20px, 80px; */
}



.btn-profile{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    height: 42px;
    width: 77px;
    border: 20px solid tangerine;
    font-size: 16px;
    padding: 5px 5px 5px 12px;
    border: 1px solid #DDDDDD;
    vertical-align: middle;
    /* transition: box-shadow 0.2s ease 0s; */
    cursor: pointer;
    /* box-shadow:rgba(0, 0, 0, 0.18) 0px 2px 4px 0px; */
    border-radius: 21px;
    background-color: white;

}

.search-icon{
    color: white;
    /* background-color: #FF385C; */
    display: block;
    border-radius: 50%;
}

.login-form {
    border: 10px solid white;
}

.input {
    margin: 10px;
}

.login-btn-modal{
    /* padding: 10px; */
    min-width: 25px;
}

.host-link{
    text-decoration: none;
}
/*
.host-login{
    display: flex;
    align-items: flex-end;
   flex-direction: column;


} */
